.logo {
  font-size: x-large;
  font-weight: bold;
}

.titles {
  font-weight: bold;
}

.user-avatar {
  padding: 5px;
  margin: 5px;
}

.user-profile {
  padding: 5px;
  margin: 5px;
  width: 200px;
  height: 100px;
}

.user-avatar {
  width: 750px;
  height: 300px;
  padding: 5px;
  border: 1px solid black;
}

.user-name-router {
  color: black;
}

.post-list {
  border: 1px solid white;
  background-color: white;
  margin-bottom: 5px;
}

.deleted-posts-list {
  border: 1px solid gray;
  background-color: white;
  color: red;
}

.drafted_posts-list {
  color: white;
  border: 1px solid white;
  background-color: gray;
}

.post-view {
  background-color: white;
  border: 1px solid gray;
}

.post-view-content {
  background-color: white;
  border: 2px solid gray;
}

.comment-avatar-img {
  width: 150px;
  height: 100px;
  border: 1px solid black;
}

.comments-display {
  border: 1px solid gray;
  background: white;
}

.icons-right-float {
  float: right;
}

.icons-left-float {
  float: left;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.transparent-button {
  background: transparent;
  border: none;
}

.tabs {
  background-color: #42a1f4;
  color: #f0f0f0;
  border: 1px solid gray;
  border-radius: 25px;
}

.like {
  color: #87bdd8;
}

.dislike {
  color: inherit;
}

.align-center {
  text-align:center;
}

.gravatar {
  margin:auto;
  text-align: left;
}

.navbar {
  background-color: #0B3B39;
  height: 50px;
  padding: 5px;
  margin: 5px;
  font-size: large;
  font-weight: bold;
}

.html {
  background-color: #5D6D7E;
}

.box {
  border-top: 1px solid gray;
  background-color: lightgray;
}

.box1 {
  border-bottom: 1px solid gray;
}

#postsView {
  margin-left: 15%;
  text-align: center;
}

#searchBox {
  width: 400px;
  margin-right: 5px;
}
